{{ $logo := resources.Get "gatobabaluLogo.svg" }}
{{ $logoWhite := resources.Get "gatobabaluLogoWhite.svg" }}
{{ $moonLine := resources.Get "moonLine.svg" }}
{{ $sunLine := resources.Get "sunLine.svg" }}
<nav class="navbar">
    <img src="{{ $logo.RelPermalink }}" alt="Logo" id="logo-dark" class="logo" width="200px">
    <img src="{{ $logoWhite.RelPermalink }}" alt="Logo" id="logo-light" class="logo" width="200px" style="display: none;">
    <button class="toggle-theme" id="theme-toggle" aria-label="toggle light dark theme">
        <img src="{{ $moonLine.RelPermalink }}" alt="Moon" id="moon" class="theme-icon" width="30px">
        <img src="{{ $sunLine.RelPermalink }}" alt="Sun" id="sun" class="theme-icon" width="30px" style="display: none;">
    </button>
</nav>