:root {
    --breakpoint-mobile: 480px;
    --breakpoint-tablet: 768px;
    --breakpoint-desktop: 1024px;
    --breakpoint-large: 1200px;
    --breakpoint-xlarge: 1400px;
    --breakpoint-xxlarge: 1600px;

    --color-primary: #ff0000;
    --color-secondary: #ff934f;
    --color-tertiary: #0000ff;
}


* {
    /* font-family: "Fira Sans", system-ui, sans-serif; */
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

body {
    /* cores do tema claro */
    background-color: #FFFFFA;
    color: #131001;
}

body.dark-theme {
    /* cores do tema escuro */
    background-color: #000;
    color: #fff;
}

.main-container {
    max-width: 900px;
    margin: 0 auto;
}

@media only screen and (max-width: 1024px) {
    .main-container {
        padding: 0 1rem;
    }
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    padding: 0 0 1rem 0;
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0 0 0.5rem 0;
}

h3 {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0 0 1rem 0;
}

p {
    font-size: 1rem;
    line-height: 1.5;
}